<h1>ADD NEW ITEM</h1>
<h3>Details:</h3>
<form action="/additem" method="POST">
    <p>Product Name:</p>
    <input type="text" name="name"/>
    <p>Product Price:</p>
    <input type="text" name="price"/>
    <input type="submit" name="OK" />
</form>